#txt2img_container_aspect_ratio {
	gap: 5px !important;
}

#txt2img_row_aspect_ratio button,
#img2img_row_aspect_ratio button,
#txt2img_row_resolutions button,
#img2img_row_resolutions button {
	max-width: none !important;
}

/* Fix size and display of show/hide calculator buttons */
button#arc_show_calculator_button {
	display: none;
    padding: 0 .75em;
	background-color: #ffffff;
	--tw-gradient-from: #ffffff;
	--tw-gradient-to: #ffffff;
}
button#arc_hide_calculator_button {
    padding: 0 .75em;
}
